<section data-ng-controller="HomeController">

  <div class="well">
    <h2>Angela and Kamille:</h2>
    <p>Hit the signup button up top, fill out the info, and then you can click through the header options and see what i've done.</p>
    <br>
    <p>Love,</p>
    <p>James</p>
  </div>

  <div class="row">

    <div class="col-md-3">
      <h2> Courses </h2>
      <p>Show a list of courses that are available, and show whether each course is available to student based on permissions set by faculty.</p>
    </div>

    <div class="col-md-3">
      <h2> Students </h2>
      <p>Get information about courses, events, and opportunities.</p>
    </div>

    <div class="col-md-3">
      <h2> Faculty </h2>
      <p>Add courses, and add students to courses that they are authorized to take.</p>
    </div>

    <div class="col-md-3">
      <h2> Agencies </h2>
      <p>Submit a project proposal so that faculty can make a volunteer event for students to participate in.</p>
    </div>

  </div>

  <div class="well">
    <h2>Todo:</h2>
    <p>- add permissions for each user type (organization, faculty member, student, administrator). </p>
    <p>- integrate volunteer solutions object schema. </p>
    <p>- add conditional fields for proposal form. </p>
    <p>- add admin dashboard for agencies/organizations. </p>
  </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container text-center">
    <p class="navbar-text col-md-12 col-sm-12 col-xs-12"> Created as a proof of concept for the Center for Community Engagement.
    <br>
    This project is open source.  Fork it <a target="_blank" href="https://github.com/jbwashington/angela-is-the-boss">here</a>.
    </p>
  </div>
</nav>
</section>
